* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --home-btn-color: #FF7979;
    --bg-color: #FAFAFA;
    --menu-color: #333333;
}

body {
    position: relative;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

.menu_btn {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    background: var(--home-btn-color);
    border-radius: 50%;
    margin-top: -100px;
    margin-left: -100px;
    transition: 1s ease-in-out;
    z-index: 2;
}

.menu_btn img {
    margin-top: 60%;
    margin-left: 22%;
    cursor: pointer;
}

main {
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    transform-origin: left top;
    transition: 1s ease-in-out;
    z-index: 1;
}

.content {
    margin-top: 5%;
    margin-left: 23.5%;
    padding-bottom: 40px;
    width: 52%;
    height: 100%;
}

h1 {
    font-size: 40px;
}

.content p {
    font-size: 20px;
}

.content img {
    width: 1000px;
}

nav {
    position: absolute;
    top: 0;
    display: flex;
    align-items: end;
    background: var(--menu-color);
    width: 100vw;
    height: 100%;
    z-index: -1;
}

nav ul {
    margin-bottom: 350px;
    margin-left: -1000px;
    transition: 1s ease-in-out;
}

nav ul li {
    display: flex;
    gap: 10px;
}

nav ul li {
    margin-top: 10px;
}

nav ul li p {
    color: var(--bg-color);
    font-size: 20px;
    margin-top: 4px;
}

nav ul .about {
    margin-left: 30px;
}

nav ul .contact {
    margin-left: 60px;
}

#content_menu {
    transform: rotate(-15deg);
}

#menu_open {
    margin-left: 40px;
}

#menu_btn_open {
    transform: rotate(-90deg);
}